.para2{
    background-color: aquamarine;
    color: black;
    padding: 5px;
    margin: 5px;
    border:10px;
}
.para3{
    background-color: blueviolet;
    color: azure;
    padding: 5px;
    margin: 5px;
    border: 10px;
}
.para4{
    background-color: coral;
    color: cornsilk;
    padding: 5px;
    margin: 5px;
    border: 10px;

}
.para5{
    background-color: burlywood;
    color: black;
    padding: 5px;
    margin: 5px;
    border: 10px;
}